* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style-type: none;
    }

    body {
        background-color: cornflowerblue;
    }

      div.all {
        display: flex;
        justify-content: left;
        flex-direction: column;
        margin: 150px auto auto auto;
        height: 700px;
        width: 768px;
        background-color: white;
        padding-left: 40px;
        padding-top: 40px;

    }

    h1 {

        font-size: 40px;
    }

    .form {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        color: silver;
    }

    form {
        display: flex
    }

    input {
        display: flex;
        width: 600px;
        border: 1px solid silver;
    }

    label.listlable {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        color: silver;
    }

    div.mainrb {
        display: flex;
    }

    div.list {
        width: 600px;
        height: 450px;
        border: 1px solid silver;
        display: flex;
        flex-direction: column;
    }

    div.rb {
        display: flex;
        flex-direction: column;
    }

    button {
        margin-left: 20px;
        width: 60px;
        margin-top: 75px;
    }

    button.sname {
        margin-top: 0;
        width: 100px;
        margin-bottom: 20px;
    }

    button.delete {
        margin-top: 20px;
    }
